html *{
    -webkit-font-smoothing: antialiased;
}

html, body {
    margin: 0;
    padding: 0;
}

.page-profile {
    text-align: center!important;
}

.page-header{
    margin-top: 0pxpython
    background-size: cover;
    background-image: url("../img/hex-background.jpg");
    background-repeat: no-repeat;
}

.main {


}

.main-raised {
    margin: 20px 30px 50px 30px;
    border-radius: 50px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    background: white;
}

.profile-image-container img{
    padding-bottom: 20px;
    padding-top: 20px;
}

