{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<header class="image text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="image-heading text-uppercase mb-0">About us</h1>
    </div>
</header>

<div class="text-center text-secondary mb-0">
                <p class="title">
                    Hello! Welcome to our Group-making webpage!
                </p>
                <img class="logo" src="static/img/guild.png" alt="Temp logo pic">
                <div class="main-body">
                    <div class="raised-box text-center">
                        <p class="intro-content">
                            Hope your semester has been wrapping up nicely! I am Robert, an RCA at Forbes College and I’m working on a solution to solve all of your loneliness problems now that I’m PTL!

                            There are so many students, freshmen especially, who are looking for ways to make those lifelong Princeton connections. I know many of you are looking forward to meeting people next term, but there is still time now and during the summer! That’s why we’ve decided to build Gild, a project where we will match you with friends you’ll enjoy hanging out with--or we’ll give you your money back! (This is 100% free btw).

                            The goal is to make up for the social time we’ve lost this year, during the summer! We want to give you a group of fellow Princetonians that have similar interests and/or will be in a similar location this summer.
                       </p>
                   </div>
                    <p class="mb-0">
                        If you:
                    </p>
                    <li class="sq-bullet-list">
                        Want to make friends for your upcoming internship
                    </li>
                    <li class="sq-bullet-list">
                        Find people who will be in the same city as you this summer
                    </li>
                    <li class="sq-bullet-list mb-3">
                        Or simply not feel alone
                    </li>
                    Gild will help initialize those connections in our last weeks of spring term and bridge the awkward, digital gap before the summer starts. We would love for you to try out our Discord channel beta test by first filling out this Google Form (it shouldn’t take more than 5 minutes!)

                    By selecting between cities, internship opportunities, social activities, and other interests, we’ll link you with peers who you have the best fit with for lifelong friendships! Our deadline to fill out this form is Wednesday April 28th, after which we will use Discord to begin group selection and get everyone conversating!

                    We’re hoping Gild will alleviate some of the barriers associated with social connections, and though it is late in the semester, we hope you can make a couple lasting connections for this summer and the post-covid fallout that will be your sophomore and junior year! Give us a shot, we promise it’ll be worth it!
                </div>
                <p class="sign-up">
                    <!-- You can also reach us by emailing at <a href="mailto:bryanzin7@gmail.com">bryanzin7@gmail.com</a> -->
                    Sign up with this google <a href="https://docs.google.com/forms/d/e/1FAIpQLSdShyuF92hBqPrXNpSXl3QxN0JnU9dFKkwBAIfqPW2yKhS_GA/viewform?usp=sf_link">form</a>
                </p>
</div>
{% endblock %}