{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!--<img class="masthead-avatar mb-5" src="{% static 'theme/assets/img/avataaars.svg' %}" alt="" />-->

<!-- Masthead-->
<header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-5" src="{% static 'img/guild.png' %}" alt="" /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Join the Gild!</h1>
    </div>
</header>

<div class="description text-center">
    <h1 style="padding-top: 100px">In a new space and looking for friends?</h1>
    <h2>Look no further, join our network and find people with similar interests and make genuine connections!</h2>
    <p style="font-size: 30px; padding-top: 100px">
        Gild is a web application that allows users to identify the location, company, and role that they will be working at after graduation and select specific preferences for the attributes of friend groups that they would enjoy spending time with after work.
    </p>
</div>



{% endblock %}